.modal-backdrop {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 24;
  display: flex;
  justify-content: center;
  align-items: center;
}



.modal {
  visibility: visible;
  z-index: 25;
  position: absolute;
  left: 50%;
  top: 50vh;
  transform: translate(-50%, -50%);
  width: 40%;
  height: auto;
  background-color: white;
  border-radius: 5px;
  padding: 20px;
  transition: all 0.5s ease-in-out;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.modal.md {
  width: 80%;
}

.modal.sm {
  width: 40%;
}


.modal-close {
  cursor: pointer;
}


.top{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.top-info{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.left {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.data-table{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 12px;
}

.data-table  .state{
    text-align: center;
    margin-right: 10px;
    width: 30%;
}


.top  .top-info span{
  cursor: pointer;
  font-size: 20px;
  color: var(--main-color);
  margin-left: 20px;
}

.title{
  display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    fill: var(--main-color);
    color: var(--main-color);
    font-size: 30px;
    font-weight: bold;
}


hr{
  margin: 5px 0px 10px 0px;
  width: 100%;
  height: 0.25px;
  background-color: #dedddc;
  border: none;
}

.main{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 400px;
}


.data{
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  fill: var(--main-color);
  color: var(--main-color);
}

.space-button{
  width: 100%;
  height: 20%;
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: center;

}

.listado{
  width: 100%;
  height: 80%;
  flex-direction: column;
  overflow-y: auto;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;

}

.loading-container{
  color: var(--main-color);
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

}

.listado::-webkit-scrollbar {
  width: 0.3em;
  height: 1em;
}

.listado::-webkit-scrollbar-track {
  background: #efedf7;;
  border-radius: 100vw;
  margin-block: 0.1em;
}

.listado::-webkit-scrollbar-thumb {
  background: var(--main-color);
  border-radius: 10px;
}

.listado::-webkit-scrollbar-thumb:hover {
  background: var(--main-color);
  border-radius: 10px;
}

.opciones{
  width: 100%;
  height: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
}

button{
  width: 100%;
  height: fit-content;
  padding: 10px 10px 10px 10px;
  border: none;
  border-radius: 10px;
  margin: 10px;
  font-size: 25px;
  font-weight: bold;
  cursor: pointer;

}


.pay-button{
    background-image: linear-gradient(to right, #1D0F9F, #DF085A);
    color: white;
}

.out-button{
  background-color: white;
  color: var(--main-color);
}

.info{

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;


}

.item{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  padding: 20px;
}


.item .data{
  display: flex;
  flex-direction: row;
  align-items:center;
  justify-content:flex-start;
  font-size: 12px;

}


.data span.fs-20{
  font-size: 20px;
}

.data svg.ml-10{
  margin-right: 10px;
}

.item .total{
  display: flex;
  flex-direction: row;
  align-items:center;
  justify-content:flex-start;
  font-size: 35px;
}


.precio{
  display: flex;
    flex: row;
    flex-direction: row;
    align-items: flex-end;
}

.precio.total{
  font-size: 35px;
}


span.msg{
  padding-left: 10px;
  font-size: 12px;
  color: greenyellow;
}

span.msg.red{
  color: red;
}

poliza-modal{
  width: 100%;
}

span.select {
  width: 50px;
  font-size: 12px;
  margin-left: 0px;
  margin-right: 10px;
}


@media (max-width:768px) {
  .modal {
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    transform: none;

  }
  .main{
    display: block;
    height: calc(80vh );
    max-height: none;
    min-height: none;
  }

  .data{
    height: 70%;
  }

  .listado{
    height: 100%;
  }

  .opciones{
    height: 20%;
  }

  .item:last-child {
    order: 9999;
  }

}
