.container {
  width: 100vw;
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 10vh;
}







h1{
  text-align: center;
  font-size: 3rem;
  font-weight: 700;
  color: var(--main-color);
}

.input-field{
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
  align-items: center;
  justify-content: center;

}

span {
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--main-color);
  margin: 10px 10px 10px 10px;
}



input{
  width: 150%;
  height: 5rem;
  border: 1px solid var(--main-color);
  border-radius: 2px;
  padding: 30px;
  font-size: 24px;
  font-weight: 700;
  color: var(--main-color);
  text-align: center;

}

button{
  width: fit-content;
  height: 3rem;
  padding: 10px;
  border: 1px solid var(--main-color);
  border-radius: 2px;
  background-color: var(--main-color);
  color: white;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

button.disabled{
  background-color: var(--grey);
  color: var(--text-color);
  opacity: 0.5;
  border: 1px solid var(--text-color);
  transition: 0.3s ease-in-out;
  cursor: not-allowed;
}



button:hover{
  transition: 0.3s ease-in-out;
}


button.disabled{
  scale: 1.00;
}



.backBtn{
  background: none;
  color: var(--main-color);
  border: none;
  cursor: pointer;
  margin: 30px 0px 0px 0px;
  fill: var(--main-color);
  height: fit-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  transition: all 0.25s ease-in-out;
}

.backBtn:hover{
  background-color: gainsboro;
  transition:  all 0.25s ease-in-out;
  border: 0.5px solid var(--main-color);
  scale: 1;
}

.backBtn svg{
  fill: var(--main-color);
}


button.code{
  margin-top: 60px;
  border-radius: 2px;
}


button svg{
  fill: white;
}



@media screen and (max-width: 768px) {


      h1{
          font-size: 2rem;
      }

      input{
          width: 120%;
          font-size: 15px;
          padding: 10px;
          text-align: center;
      }




}


