<div class="container">
  <div class="politica">
    <h1>Politicas de Privacidad</h1>
    <p>Recibimos, recopilamos y almacenamos cualquier información que ingrese en nuestro sitio web
      o nos proporciones de otra manera. Además, recogemos la dirección de protocolo de Internet
      (IP) utilizada para conectar tu computadora a Internet; datos de inicio de sesión, dirección de
      correo electrónico, contraseña, información de la computadora y la conexión y el historial de
      compras. Podemos usar herramientas de software para medir y recopilar información de la
      sesión, incluidos los tiempos de respuesta de la página, la duración de las visitas a
      determinadas páginas, la información de interacción de la página y los métodos utilizados para
      navegar fuera de la página. También recopilamos información de identificación personal
      (incluido nombres, correo electrónico, contraseña, comunicaciones), detalles de pago (incluida
      la información de la tarjeta de crédito), comentarios, sugerencias, reseñas de productos,
      recomendaciones y perfil personal.</p>
    <p>
      Cuando realizas una transacción en nuestra página web, como parte del proceso, recopilamos
      información personal que nos proporcionas, como tu nombre, dirección física y dirección de
      correo electrónico. Tu información personal será utilizada solo para los motivos específicos
      indicados anteriormente.
    </p>
    <p style="margin-top: 10px; margin-bottom: 10px;">
      Recopilamos dicha información personal y no personal para los siguientes propósitos:
    </p>
    <p style="margin-bottom: 10px;">
      1.- Para proporcionar y operar los servicios;
    </p>
    <p style="margin-bottom: 10px;">
      2.- Para proporcionar a nuestros usuarios asistencia continua al cliente y soporte técnico;
    </p>
    <p style="margin-bottom: 10px;">
      3.- Para poder contactar a nuestros visitantes y usuarios con avisos generales y
      personalizados relacionados con el servicio y mensajes promocionales;
    </p>
    <p style="margin-bottom: 10px;">
      Para crear datos estadísticos agregados y otra información no personal agregada o
      deducida, que nosotros o nuestros socios comerciales podamos utilizar para
      proporcionar y mejorar nuestros servicios respectivos;
    </p>
    <p>
      Para cumplir con las leyes y regulaciones aplicables.
    </p>
    <p style="margin-bottom: 10px;">
      Todas las pasarelas de pago directo utilizadas por nuestra compañía
      se adhieren a los estándares establecidos por PCI-DSS administrados por el PCI Security
      Standards Council, que es un esfuerzo conjunto de marcas como Visa, MasterCard, American
      Express y Discover. Los requisitos de PCI-DSS ayudan a garantizar el manejo seguro de la
      información de la tarjeta de crédito por parte de nuestra tienda y sus proveedores de servicios.
    </p>
    <p style="margin-bottom: 10px;">
      Podemos comunicarnos contigo para notificarte sobre tu cuenta, para solucionar problemas
      con tu cuenta, resolver una disputa, cobrar tarifas o dinero adeudado, para sondear tus
      opiniones a través de encuestas o cuestionarios, para enviar actualizaciones sobre nuestra
      empresa, o cuando sea necesario para contactarte para hacer cumplir nuestro Acuerdo de
      usuario, las leyes nacionales aplicables y cualquier acuerdo que podamos tener contigo. A estos

      efectos, podemos comunicarnos contigo por correo electrónico, teléfono, mensajes de texto y
      correo postal.
    </p>
    <p>
      Si no deseas que procesemos tus datos, contáctanos a [tu correo electrónico] o envíanos un
      correo a: [tu dirección postal física].
    </p>
    <p style="margin-bottom: 10px;">
      Nos reservamos el derecho de modificar esta política de privacidad en cualquier momento, por
      lo tanto, revísala con frecuencia. Los cambios y aclaraciones tendrán efecto inmediatamente
      después de su publicación en la página web. Si realizamos cambios sustanciales a esta política,
      te notificaremos que se ha actualizado, para que sepas qué información recopilamos, cómo la
      usamos y en qué circunstancias, si corresponde, usamos o divulgamos la información.
    </p>
    <p style="padding-bottom: 30px;">
      Si deseas: acceder, corregir, modificar o eliminar cualquier información personal que tengamos
      sobre ti, estás invitado a contactarnos en [tu correo electrónico] o envíanos un correo a: [tu
      dirección postal física].
    </p>

  </div>


</div>
