.container {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  border: 1px solid var(--main-color);
  border-radius: 2px;
  background-color: #efedf7;
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
  margin: 20px;
  position: relative;
}


@keyframes colorChange {
  0% {
    fill: var(--blue);
  }
  100% {
    fill: var(--main-color);
  }
}



.icon-touch{
  position: absolute;
  top: 20px;
  right: 20px;
  border: 1px solid var(--main-color);
  border-radius: 10;
  fill: var(--main-color);
      animation-name: colorChange;
      animation-duration: 1s;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
}

.top{
  display: flex;
  flex-direction: column;
  padding:   30px;

}

.top span{
  font-weight: bold;
  color: var(--main-color);
  font-size: 15px;
}

.data{
  display: flex;
  flex-direction:column;
  align-items: normal;
  justify-content: space-between;
  width: 100%;
  padding: 20px;
}

.field{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}


.item-description{
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--main-color);
}

.description span{
  font-weight: bold;
}




.column{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.column span{
  color: var(--main-color);
  font-weight: 200;
}


.column span.info{
  font-weight: bold;
}


