<div class="container-about" id="about-us">
  <div class="container-about-us">
    <div class="information">

      <p>
        Somos una tarjeta de asistencia al viajero, encargada de auxiliar evento fortuito o imprevisto durante el viaje,
        priorizando siempre la seguridad del beneficiario.
      </p>
      <p>
        Contamos con el respaldo de las compañias y redes de asistencia mas grandes a nivel mundial
      </p>
      <p>
        Nuestro personal cuenta con capacitaciones constantes para brindar el mejor servicio y atencion las 24 horas del
        dia, los 7 dias de la semana
      </p>
      <!-- <a href="#cotizar" class="cotizar_btn">
        Cotizar
      </a> -->
    </div>
    <div class="image-container">
      <img class="image" src="../../../assets/images/4.jpg" alt="">

    </div>
  </div>
</div>
