<div class="container-about" id="about-us">
  <div class="container-about-us">
      <div class="information">
          <h2>
              ¿Quiénes somos?
          </h2>
          <p>
              Somos una empresa que busca brindar asistencia de viaje a nuestros clientes, para que puedan disfrutar de sus viajes sin preocupaciones.
          </p>
          <a  href="#cotizar" class="cotizar_btn">
              Cotizar
          </a>
      </div>
      <div class="image-container">
          <img class="image" src="../../../assets/images/4.jpg" alt="">

      </div>
    </div>
</div>
