<div class="modal-backdrop"></div>

<div class="modal">
  <div class="top">
    <div class="top-info">
      <span>Ingresar los datos de la compra</span>
      <span style="cursor: pointer;"  >X</span>
    </div>
    <hr >
  </div>
  <div  class="data" >

<div class="checkout">
  <div class="checkout-in">




    <div class="checkout-card">

      <form action="" [formGroup]="form" (submit)="initPay()">
        <div class="input input-amount">
          <label class="label">Monto a pagar</label>
          <input type="text"  readonly formControlName="amount" placeholder="0.00">
          <span class="currency">USD</span>
        </div>
        <hr>
        <div class="input">
          <label class="label">Número de tarjeta</label>
          <div id="card"></div>
        </div>
        <hr>
        <div class="input">
          <label class="label">CVC</label>
          <div id="cvc"></div>
        </div>
        <hr>
        <div class="input">
          <label class="label">Fecha de vencimiento</label>
          <div id="exp"></div>
        </div>
        <div class="terms">
          <a href="">Links</a>
          <a href="">Links</a>
        </div>

        <button [disabled]="form.invalid || form.disabled" class="button" type="submit">Pagar</button>
      </form>
    </div>
  </div>
</div>

  </div>



</div>
