html, body, h1, h2, h3, p, ul, li {
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}

h3 {
  font-size: 1.17em;
  margin: 1em 0;
}

p {
  margin: 1em 0;
}

ul {
  list-style: none;
}

/* Links */
a {
  text-decoration: none;
  color: #007bff;
}

/* Unordered Lists */
ul {
  list-style-type: disc;
}

li {
  margin-left: 1em;
}

/* Default Button Styles */
button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

/* Images */
img {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
}


.blog-space{
  display: flex; flex-direction: column; align-items: center; justify-content: center;
}

.ql-container.ql-snow{
  border-width: 0; width: 33%;
}

@media (max-width:768px) {
  .ql-container.ql-snow{
    width: 100%;
  }
}


.container-ayuda {
  display: grid;
  grid-template-columns: 1fr 5fr 5fr 1fr;
  padding: 40px;

}

@keyframes moveUpDown {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(20px); /* Ajusta la distancia que deseas que se mueva hacia abajo */
  }
}

.left{
  box-shadow: 0px 0px 10px 0px rgba(0.4,0,0,0.2);
  position: relative;
    width: 100%;
    height: 100%; /* Ajusta la altura según tus necesidades */
    background: url('../../../../../assets/images/5.jpg') center/cover no-repeat fixed;
    background-size: cover;
    padding: 20px;
    border-radius: 10px;
    animation: moveUpDown 4s infinite;


}


.left .text{
  position: absolute;
  border: 1px solid white;
  width: 100%;
  height: 90%;
  padding: 20px;
  border-radius: 8px;
}

.left p{
  font-weight: bold;
  font-size: 30px;
  color: white;

}


.left::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, #DF085A, var(--main-color)); /* Cambia los colores según tus preferencias */
    opacity: 0.5; /* Ajusta la opacidad del gradiente según tus preferencias */
}



.right{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:flex-start;
  margin: 0px 20px 0px 20px


}


.card{
  width: 100%;
  height: 33%;
  box-shadow: 0px 0px 10px 0px rgba(0.4,0,0,0.2);
  margin: 3%;
  border-radius: 8px;
  cursor: pointer;
  display: grid;
  grid-template-columns: 3fr 5fr;
  background-color: white;

}


.img-card{
  background-color: darkgray;
  border-radius: 8px 0px 0px 8px;
  box-shadow: 0px 0px 10px 0px rgba(0.4,0,0,0.2);
  overflow: hidden;
}

.img-card image{
  object-fit: cover;

}


.descp-card{
  position: relative;
  padding-left: 20px;
}


.descp-card .icon{
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  font-size: 12px;
  font-weight: bold;
  font-style: italic;
}

.descp-card .title {
  padding-left: 5px;
  font-size: 16px;
  font-weight: bold;
  margin: 5px;
}

.descp-card .description{
  padding-left: 30px;
  font-size: 14px;
  font-weight: bold;
  text-align: start;

}

.content{
  padding: 20px;
}

.right .container-info{
  display: flex;
  width: 100%;
  height: 100%;
  background-color: var(--main);
}


@media (max-width:768px) {

  .container-ayuda{
    grid-template-columns: 1fr;
  }

  .left{
    margin-top: 30px;
    margin-bottom: 30px;
    display: none;
  }

  .right{

    margin: 0;
    margin-top: 30px;
  }

  .card{
    margin: 5%;
    grid-template-columns: 1fr;
  }

  .card .descp-card{
    padding-left: 5px;
  }
  .descp-card .description{
    padding-left: 10px;

  }

  .container-ayuda {
    padding: 20px;
  }

  .spacing{
  display: none;
  }

}

