<!--
  <div class="container-ayuda" id="help" >
    <div class="spacing"></div>

    <div class="left">
      <div class="text">
        <p>Informate sobre los ultimos detalles y recomendaciones aqui con nosotros. </p>
        <p>En nuestra seccion de Blog</p>

      </div>

    </div>

    <div class="right" style="border-radius: 8px;">

      <h2 style="color: #DF085A;">Blog</h2>
      <hr style="border-color: #DF085A; width: 100%;">

      <div class="card">
        <div class="img-card">
          <img src="../../../../../assets/images/3.jpg" alt="">

        </div>
        <div class="descp-card">
          <div class="content">
            <p class="title">DESCUENTO EN TU PROXIMO VIAJE</p>
            <hr style=" border-color: #DF085A;">
            <p class="description">Tenemos una grandiosa oferta para todos los detalles que veras mas adelante.</p>
          </div>

          <div class="icon">
            <p>01/01/2024</p>
            <img src="../../../../../assets/images/logo-icon-2.png" >
          </div>
        </div>


      </div>
      <div class="card">
        <div class="img-card">
          <img src="../../../../../assets/images/3.jpg" alt="">

        </div>
        <div class="descp-card">
          <div class="content">
            <p class="title">DESCUENTO EN TU PROXIMO VIAJE</p>
            <hr style=" border-color: #DF085A;">
            <p class="description">Tenemos una grandiosa oferta para todos los detalles que veras mas adelante.</p>
          </div>

          <div class="icon">
            <p>01/01/2024</p>
            <img src="../../../../../assets/images/logo-icon-2.png" >
          </div>
        </div>


      </div>
      <div class="card"  [routerLink]="'../blog/1'">
        <div class="img-card">
          <img src="../../../../../assets/images/3.jpg" alt="">

        </div>
        <div class="descp-card">
          <div class="content">
            <p class="title">DESCUENTO EN TU PROXIMO VIAJE</p>
            <hr style=" border-color: #DF085A;">
            <p class="description">Tenemos una grandiosa oferta para todos los detalles que veras mas adelante.</p>
          </div>

          <div class="icon">
            <p>01/01/2024</p>
            <img src="../../../../../assets/images/logo-icon-2.png" >
          </div>
        </div>



      </div>

      <div class="bottom">
        <a [routerLink]="'../blogs'" href="" style="color: #DF085A; text-decoration: underline; font-weight: bold;" >Ver mas</a>
      </div>

    </div>

    <div class="spacing"></div>



  </div>


 -->
