<div class="card"  [routerLink]="'../blog/'+blog.blog_id">


  <div class="img-container">
    <img [src]="blog.img_url" alt="">

  </div>

  <div class="inf-container">

    <div class="top">
      <div class="author">

        <p>Assistrip.com</p>
        <p class="date" >{{blog.fecha_post.split('T')[0]}}</p>

      </div>


    </div>


    <p class="title">
      {{blog.titulo}}
    </p>
    <p class="description">
      {{blog.descripcion}}
    </p>



    <hr>

    <div class="icon">
      <img src="../../../../../assets/images/ASSISTRIP/appyweb/logo-icon-2.png" >
    </div>




  </div>





</div>
