<div class="card"  [routerLink]="'../blog/1'">


  <div class="img-container">
    <img src="../../../../../assets/images/3.jpg" alt="">

  </div>

  <div class="inf-container">

    <div class="top">
      <div class="author">

        <p>Assistrip.com</p>
        <p class="date" >17/01/2002</p>

      </div>


    </div>


    <p class="title">
      Hola Mundo
    </p>
    <p class="description">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo autem iure vel suscipit quod quae aperiam aspernatur sed culpa. Ex totam omnis et, accusantium repudiandae beatae perspiciatis necessitatibus tenetur...
    </p>



    <hr>

    <div class="icon">
      <img src="../../../../../assets/images/ASSISTRIP/appyweb/logo-icon-2.png" >
    </div>




  </div>





</div>
