.container{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}


data-siniestro{
  width: 33%;
  padding: 10px 20px;
}

.message-container{
  width: 66%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}


hr{
    margin: 10px 0px;
    width: 100%;
    height: 0.25px;
    background-color: #dedddc;
    border: none;
}


list-messages,
mensaje-form{
  width: 100%;
}


@media (max-width:768px) {

  .container{
    flex-direction: column;
  }

  data-siniestro{
    width: 100%;
  }

  .message-container{
    width: 100%;
  }

}
