<div class="container" *ngIf="!loading">
    <data-siniestro *ngIf="siniestro" [siniestro]="siniestro"  (beneficiarioEmit)="haveBeneficiario($event)" ></data-siniestro>
    <div class="message-container">
      <mensaje-form [idSiniestro]="siniestroId"  (addMessage)="onAddMessage($event)" ></mensaje-form>
      <hr>
      <list-messages *ngIf="siniestro && beneficiario" [siniestro]="siniestro" [beneficiario]="beneficiario" [events]="addToChildMessage.asObservable()"></list-messages>
    </div>

</div>

<loading-div *ngIf="loading"></loading-div>
