.beneficio {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--main-color);
  margin: 10px 0px;
}

.top{
  width: 100%;
  border-bottom: 1px solid var(--main-color);
  padding: 10px;
  color: var(--main-color);
  font-weight: bold;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  height: 70px;

}

input{
  width: 20px;
  height: 20px;
  margin-right: 20px;
}

cat{
  width: 100%;
  padding: 10px;
}
