<div class="grid-container" id="cotizar">
  <div class="grid-item-1">
    <app-data-cotizador></app-data-cotizador>
  </div>
  <div class="grid-item-2">
      <div class="descriptionContainer">
          <div class="description">
              <h2>
                  ¿Qué es assisTrip?
              </h2>
              <p>
                  Es una plataforma que te permite cotizar y contratar asistentes de viaje de manera rápida y sencilla.
              </p>
          </div>

      </div>
  </div>
  <div class="grid-item-3">
      <div class="parallax-container">
          <div class="parallax-image">
              <img src="../../../assets/images/5.webp" alt="">
          </div>
      </div>
  </div>
</div>
