<div class="container-procedimiento">
  <div class="container">
      <div class="title">
          <h2>¿Como funciona?</h2>
      </div>
      <div class="lista-procedimiento">
          <div class="procedimiento">
              <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 96 960 960" width="24"><path d="M340 976v-60l80-60V636L80 736v-80l340-200V236q0-25 17.5-42.5T480 176q25 0 42.5 17.5T540 236v220l340 200v80L540 636v220l80 60v60l-140-40-140 40Z"/></svg>

              <div class="title">
                  <h3>
                      Ingresa los detalles de tu viaje
                  </h3>
              </div>
              <div class="description">
                  <p>
                      Ingresa los destinos y fechas de tu viaje, así como las edades de los viajeros.
                  </p>
              </div>
          </div>
          <div class="procedimiento">
              <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 96 960 960" width="24"><path d="M880 336v480q0 33-23.5 56.5T800 896H160q-33 0-56.5-23.5T80 816V336q0-33 23.5-56.5T160 256h640q33 0 56.5 23.5T880 336Zm-720 80h640v-80H160v80Zm0 160v240h640V576H160Zm0 240V336v480Z"/></svg>
              <div class="title">
                  <h3>
                      Selecciona el plan que más te convenga
                  </h3>
              </div>
              <div class="description">
                  <p>
                      Selecciona el plan que más se adapte a tus necesidades y presupuesto y cotiza.
                  </p>
              </div>
          </div>
          <div class="procedimiento">
              <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 96 960 960" width="24"><path d="M160 976q-33 0-56.5-23.5T80 896V456q0-33 23.5-56.5T160 376h200V256q0-33 23.5-56.5T440 176h80q33 0 56.5 23.5T600 256v120h200q33 0 56.5 23.5T880 456v440q0 33-23.5 56.5T800 976H160Zm0-80h640V456H600q0 33-23.5 56.5T520 536h-80q-33 0-56.5-23.5T360 456H160v440Zm80-80h240v-18q0-17-9.5-31.5T444 744q-20-9-40.5-13.5T360 726q-23 0-43.5 4.5T276 744q-17 8-26.5 22.5T240 798v18Zm320-60h160v-60H560v60Zm-200-60q25 0 42.5-17.5T420 636q0-25-17.5-42.5T360 576q-25 0-42.5 17.5T300 636q0 25 17.5 42.5T360 696Zm200-60h160v-60H560v60ZM440 456h80V256h-80v200Zm40 220Z"/></svg>
              <div class="title">
                  <h3>
                      Contrata tu asistente de viaje
                  </h3>
              </div>
              <div class="description">
                  <p>
                      Contrata tu asistente de viaje y disfruta de tu viaje sin preocupaciones.
                  </p>
              </div>
          </div>
      </div>
  </div>

</div>
