<div class="card">
  <div class="top">

    <h1>{{plan.serv?.servicio}}</h1>
    <h2>{{plan.precio | currency:'USD':'$':'1.2-2'}}</h2>
    <p class="price">(Por persona)</p>

      <button *ngIf="plan.serv"  (click)="togglePlan(plan)">
        <span >Seleccionar plan</span>
        <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 96 960 960" width="24"><path d="m321 976-71-71 329-329-329-329 71-71 400 400-400 400Z"/></svg>
      </button>

  </div>
  <ng-container  >

    <div class="info" [class.sticky]="isSticky" >
      <p>Cobertura global </p>
      <p class="cobertura">{{plan.serv?.cobertura_global | currency:'USD':'$':'1.2-2'}}</p>
    </div>
    <hr [class.sticky]="isSticky">
    <div class="info " [class.sticky]="isSticky" (click)="openModal()">
      <div class="cat"  >
        <div class="title">Beneficios medicos</div>
        <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 96 960 960" width="24"><path d="M480 711 240 471l56-56 184 184 184-184 56 56-240 240Z"/></svg>
      </div>
      <hr>
      <div class="cat">
        <div class="title">Repatriacion y traslado sanitario</div>
        <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 96 960 960" width="24"><path d="M480 711 240 471l56-56 184 184 184-184 56 56-240 240Z"/></svg>
      </div>
      <hr>
      <div class="cat">
        <div class="title">Asistencia en viaje</div>
        <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 96 960 960" width="24"><path d="M480 711 240 471l56-56 184 184 184-184 56 56-240 240Z"/></svg>
      </div>
      <hr>
      <div class="cat">
        <div class="title">Auxilio y asistencia legal</div>
        <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 96 960 960" width="24"><path d="M480 711 240 471l56-56 184 184 184-184 56 56-240 240Z"/></svg>
      </div>
      <hr>

    </div>
  </ng-container>
</div>


<ng-template #modalTemplate>
  <div class="card">
     <span>Esta es una prueba</span>
  </div>
 </ng-template>



