
.grid-container {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: fit-content;
  display: grid;

  padding: 10px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 0px;
  scroll-behavior: smooth;
  font-style: 'Lato',san-serif;
}


.grid-container .grid-item-1{
  height: 100%;
}

.grid-container .grid-item-2 {
  width: 100%;
  padding-right: 0px;


}

.grid-container .grid-item-3{
  width: 100%;
  padding-left: 0px;

}

.parallax-container {
  background-image: none;
  position: relative;
  height: 100%;
  overflow: hidden;
  transition: 0.5 all ease-in-out;
  border-radius: 0 10px 10px 0;

}

.parallax-image {
  width: 100%;
  height: 100%;
}

.parallax-image img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


.parallax-image {
  transform: translate3d(0, 0, 0);
  will-change: transform;
}

.parallax-image:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
}



.descriptionContainer{
  background-color: var(--main-color);
  display: flex;
  align-items:center;
  flex-direction: column;
  justify-content: center;
  color: white;
  font-weight: bold;
  height: 100%;
  width: 100%;
  border-radius: 10px 0px 0px 10px;
  scroll-behavior: smooth;


}

.descriptionContainer .description{
  padding: 0px 30px 0px 30px;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 30px;
}

.description h2 {
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
}

.description p {
  font-size: 34px;
  font-weight: bold;
  text-align: end;
  color: white;
}

.container-slider{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;
  background-color: var(--body-bg);
  border-radius: 10px 0px 0px 10px;
}

.wrapper {
  padding: 20px;
  display: flex;
  width: 100%;
  height: fit-content;
  background: #fff;
  align-items: center;
  justify-content: center;
  position: relative;

  border-radius: 12px;
}



@keyframes animate {
  0%{
    opacity: 1;
    border-radius: 10px;
    transform: translateY(0) rotate(0deg);

  }

  100%{
    opacity: 0;
    border-radius: 10px;
    transform: translateY(-1000px) rotate(720deg);

  }

}

.circles div{
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: #df085a;
  bottom: -150px;
  animation: animate 25s linear infinite;

}

.circles div:nth-child(1){
  left: 25%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;

}
.circles div:nth-child(2){
  left: 45%;
  width: 30px;
  height: 30px;
  animation-delay: 20s;

}
.circles div:nth-child(3){
  left: 60%;
  width: 10px;
  height: 10px;
  animation-delay: 15s;

}
.circles div:nth-child(4){
  left: 70%;
  width: 35px;
  height: 35px;
  animation-delay: 13s;

}
.circles div:nth-child(5){
  left: 72%;
  width: 21px;
  height: 21px;
  animation-delay: 5s;


}
.circles div:nth-child(6){
  left: 85%;
  width: 12px;
  height: 12px;
  animation-delay: 7s;

}
.circles div:nth-child(7){
  left: 50%;
  width: 16px;
  height: 16px;
  animation-delay: 2s;

}
.circles div:nth-child(8){
  left: 55%;
  width: 18px;
  height: 18px;
  animation-delay:0s;

}
.circles div:nth-child(9){
  left: 60%;
  width: 22px;
  height: 22px;
  animation-delay:0s;

}
.circles div:nth-child(10){
  left: 27%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;

}
.circles div:nth-child(11){
  left: 21%;
  width: 14px;
  height: 14px;
  animation-delay: 0s;

}
.circles div:nth-child(12){
  left: 42%;
  width: 15px;
  height: 15px;
  animation-delay: 20s;

}
.circles div:nth-child(13){
  left: 67%;
  width: 20px;
  height: 20px;
  animation-delay: 15s;

}
.circles div:nth-child(14){
  left: 72%;
  width: 32px;
  height: 32px;
  animation-delay: 13s;

}
.circles div:nth-child(15){
  left: 21%;
  width: 12px;
  height: 12px;
  animation-delay: 5s;


}
.circles div:nth-child(16){
  left: 85%;
  width: 14px;
  height: 14px;
  animation-delay: 7s;

}
.circles div:nth-child(17){
  left: 50%;
  width: 17px;
  height: 17px;
  animation-delay: 2s;

}
.circles div:nth-child(18){
  left: 59%;
  width: 25px;
  height: 25px;
  animation-delay:0s;

}
.circles div:nth-child(19){
  left: 63%;
  width: 13px;
  height: 13px;
  animation-delay:0s;

}



@media (max-width: 768px) {
  .grid-container {
    grid-template-columns: 1fr; /* switch to one column layout for small screens */
    padding-top: 0px;
  }

  .grid-container .grid-item-2{
    padding: 0px 30px 0px 30px;
    min-height: fit-content;
  }

  .grid-container .grid-item-3{
    padding: 0px 30px 30px 30px;
  }

  .descriptionContainer{
    position: relative;
    height: 50vh; /* establece una altura en 100vh */
    overflow: hidden;
    transition: 0.5 all ease-in-out;
    border-radius: 10px 10px 0 0;
  }

  .description h2 {
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
  }

  .description p {
    font-size:  20px;
    text-align: center;
  }

  .parallax-container {
    position: relative;
    height: 50vh; /* establece una altura en 100vh */
    overflow: hidden;
    transition: 0.5 all ease-in-out;
    border-radius: 0px 0px 10px 10px;
  }




}


