<div class="grid-container" id="cotizar">
  <div class="grid-item-1">
    <app-data-cotizador></app-data-cotizador>
  </div>
  <div class="grid-item-2">
      <div class="descriptionContainer">
          <div class="description">

              <p>
                Explora el mundo sin preocupaciones, nosotros te protegemos.
              </p>
          </div>

      </div>
  </div>
  <div class="grid-item-3">
      <div class="parallax-container">
          <div class="parallax-image">
              <img src="../../../assets/images/2.jpg" alt="">
          </div>
      </div>
  </div>
</div>
