.listado{
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 10px;
}


.cat{
  display: flex;
  flex-direction:column;
  width: 100%;
  align-items: flex-end;
  justify-content: space-evenly;
  margin: 0px 0px;
}

.contador{
  display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* background-color: var(--grey); */
    /* margin-right: 15px; */
    border: 2px solid var(--main-color);
    /* height: 37px; */
    border-radius: 10px;
    background-color: var(--main-color);
    height: 40px;



}



.contador span{
  margin : 0px 20px;
  color: var(--main-color);
  font-size: 30px;
}


.c-pointer{
  cursor: pointer;
}

.cantidad{
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  font-family:Arial, Helvetica, sans-serif;
}

.cantidad input{
  font-size: 20px;
  font-weight: bold;
  width: 50px;
  border: none;
  background: none;
  font-weight: bold;
  text-align: center;
  padding-left: 14px;
  color: white;
}

.cantidad svg{
  transform: rotate(90deg);
    position: absolute;
    margin-left: -5px;
    fill: var(--main-color);

}
.desc{
  margin-top: 10px;
}

button{
  border: none;
  background: none;
  width: 50px;
  font-size: 30px;
  font-weight: bold;
  background-color: white;
  color: var(--main-color);
  border-radius: 50px;
  margin: 10px;
  height: 30px;
  display: flex;
    align-items: center;
    justify-content: center;
}

span.number{
  font-size: 12px;
}


@media (max-width:768px){
  .listado{
    flex-direction: column;
  }

  .cat{
    margin: 10px 0px;
  }

  .contador{
    width: 100%;
    margin-right: 0px;
  }

  .cantidad input{
    padding-left: 0px;
  }
}
