.grid-container {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 3fr;
  overflow-y: hidden;
  padding: 10px;
}

.sidenav {
  grid-column: 1 / 2;
}

.listLinks{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  list-style: none;
  padding: 30px;
  margin-top: 50px;
}

.listLinks hr{
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}


.link{
  color: var(--main-color);
  text-decoration: none;
  margin-top: 20px;
  width: 100%;
  cursor: pointer;
}
.link a,
.link button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  color: var(--main-color);
  fill: var(--main-color);
  text-decoration: none;
  font-size: 20px;
  width: 100%;
  height: 50px;
  background: none;
  border: none;
  cursor: pointer;
}





.link a span,
.link button span{
  font-size: 12px;
  color: var(--main-color);
  padding: 0px 10px;
  width: 100%;
  height: 24px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  font-size: 20px;
  font-weight: bold;
  transition: 1s all ease-in-out;

}




.content {
  grid-column: 2 / 3;
  padding: 10px;
  overflow-y: hidden;
  overflow-x: hidden;

}

.btn-outline {
  transition: all 0.2s ease-in-out;

}

.btn-outline:hover{
  background-color: gainsboro;
  transition: 1s all ease-in-out;

}

.btn-outline:hover span {
  background-color: gainsboro;
  transition: 1s all ease-in-out;


}

.btn-outline:hover svg {
    background-color: var(--main-color);
    color: #fff;
    fill: #fff;
  transition: all 0.2s ease-in-out;

}

.mb-display{
  display: none;
}



/* Responsive layout for smaller screens */
@media screen and (max-width: 768px) {



  hr{
    margin: 0px 0px;
    width: 100%;
    height: 0.25px;
    background-color: #dedddc;
    border: none;

  }

  h1{
    display: none;
  }
  .grid-container {
    grid-template-columns: 1fr;
    margin-top: 0px;
    height: 90vh;
    overflow-y: hidden;
  }

  .sidenav {
    grid-column: auto;
    height: fit-content;
    margin-top: 0px;
    justify-content: space-between;
  }

  .listLinks{
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      justify-content: space-between;
      list-style: none;
      padding: 0px;
      margin-top: 0px;
    }


  .content{
    grid-column: auto;
    overflow-y: auto;
  }

  .link{
    margin-top: 0;
  }

  hr{
    display: none;
  }
  svg{
    display: none;
  }

  .mb-display{
    display: flex;
    padding: 0px;
    margin: 0px;
  }

.link a span,
.link button span{

  justify-content: center;

  transition: 1s all ease-in-out;

}

}
