
.product {
  padding: 20px 0;
}

.slider-wrap{
  margin : 0px 20px 0px 20px;
  position: relative;
  overflow: hidden;
  height: 350px;
  white-space: nowrap;
}

.slider-main {
  position: absolute;
  width: 200%;
}

.container-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
}

@keyframes moveUpDown {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(20px); /* Ajusta la distancia que deseas que se mueva hacia abajo */
  }
}

@keyframes moveUpDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}



.item {
  display: inline-block;
  height: 300px;
  margin: 20px 50px;
  border-radius: 10px;
  box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.5);
  width: 25%;
  overflow: hidden;
  transition: .5s;
  position: relative;
  white-space :initial;

}





.description{
  padding: 10px;
}

.description svg{
  position: absolute;
  top: 5;
  right: 0;
  margin: 5px;
  fill: white;
  visibility: visible ;
}

p{
  color: white;
  font-size: 24px;
}

.text{
  position: absolute;
  top: 50%;
  left: 50%;
  transform:  translate(-50%, -50%);
  color: #fff;
  font-size: 24px;
  font-weight: bolder;


}

.img{
  height: 100%;
  width: 100%;
  background-color: #fff;
  border-radius: 10px 10px 0 0;

}
.item .description{
  height: 80px;
  width: 100%;
  box-sizing: border-box;
  position: absolute;
  background-color: #34189A;
  border-radius: 0 0 10px 10px;
  padding: 10px;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  transition: .5s;
  bottom: 0;

}

.item .description p.info-description {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    text-align: center;
    font-weight: 100;
    word-wrap: wrap;
    word-break: break-all;
}

.item .description i{
  visibility: hidden;
}


img{
  /* height: 100%; */
  width: 100%;
  height: 100%;
  border-radius: 10px 10px 0px 0px;
  object-fit : cover;
}


.title{
  font-size: 16px;
  font-weight: 700;
}

.item .description .info-description{
  visibility: hidden;
  transition: .5s;
}

.item:hover{
  transition: .5s;
}

.item:hover .description,
.item:active .description {
  height: 100%;
  border-radius: 10px;
  max-width: 100%;


  transition: .5s;
}


.item:hover .description .info-description,
.item:active .description .info-description
{
  visibility: visible;
  transition: .5s;
}


.item:hover .description i {
  margin-top: 20px;
  visibility: visible;
  margin-bottom: 20px;
}

.Prev{
  position: absolute;
  left: 33px;
  top: 50%;
  transform: translate(-50%, -50%);
}

.Next{
  position: absolute;
  right: 0%;
  top: 50%;
  transform: translate(-50%, -50%);

}


button{
  border: none;
  background: #716e6e;
  padding: 20px;
  border-radius: 10px;
  transition: 2 all ease-in-out;
}

button i{
  color: #fff;
  transition: 2 all ease-in-out;
}


/*
p.title{
  font-size: 16px;
  font-weight: 600;
}

p.info{
  font-size: 12px;
} */


.mobile{
  display: none;
}

@media (min-width:768px) {

  .mobile{
    display: none;
  }

  .n-mobile{
    display: block;
  }

  .description svg{
    visibility: hidden;
  }


  /* button{
    border: none;
    background: #716e6e;
    padding: 20px;
    border-radius: 10px;
    transition: 2 all ease-in-out;
  }

  button i{
    color: #fff;
    transition: 2 all ease-in-out;
  }
   */
  button:hover{
    background: #34189A;
    transition: 2 all ease-in-out;
  }

  button:hover i {
    color: #fff;
    transition: 2 all ease-in-out;
  }

  .item{
  animation:  moveUpDown 2s infinite;

  }

}






@media (max-width:768px) {






  .item{
    margin: 10px 5px;
    width: 90%;

  }



}
