
<div class="title" style="display: flex; align-items: center; justify-content: center;margin-top: 20px;">
  <h2>
    Coberturas
  </h2>
</div>

<section class="product">
  <div class="container-fluid">
    <div class="slider-wrap">
      <div class="slider-main n-mobile" [@scrollAnimation]="scrollState">
        <div class="item"  *ngFor="let slide of slides">
          <div class="img">
            <img [src]="slide.url" >


          </div>
          <div class="description">
            <p >{{slide.title}}</p>

            <div class="content-description" style="display: flex; flex-direction: column; align-items: center; justify-content: center; margin-top: 50px;">
              <i class="fa-solid fa-shield-heart fa-2xl" style="color: #ffffff;"></i>

              <p class="info-description">{{slide.description}}</p>
            </div>



          </div>
        </div>



      </div>
      <div class="slider-main mobile" >
        <div class="item"  *ngFor="let slide of slides">
          <div class="img">
            <img [src]="slide.url" >


          </div>
          <div class="description">
            <p >{{slide.description}}</p>


          </div>
        </div>



      </div>
      <div class="button-area">
        <button type="button" appPrev class="Prev">
          <i class="fa-solid fa-caret-left fa-2xl"></i>
        </button>
        <button type="button" appNext class="Next">
          <i class="fa-solid fa-caret-right fa-2xl"></i>
        </button>
      </div>


    </div>
  </div>
</section>
