
.product {
  padding: 20px 0;
}

.slider-wrap{
  margin : 0px 20px 0px 20px;
  position: relative;
  overflow: hidden;
  height: 350px;
  white-space: nowrap;
}

.slider-main {
  position: absolute;
  width: 200%;
}

.item {
  display: inline-block;
  height: 300px;
  margin: 20px 12px;
  border-radius: 10px;
  box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.5);
  overflow: hidden;
  transition: .5s;
  position: relative;
  white-space :initial;
}


.description{
  padding: 10px;
}

p{
  color: white;
  font-size: 24px;
}

.text{
  position: absolute;
  top: 50%;
  left: 50%;
  transform:  translate(-50%, -50%);
  color: #fff;
  font-size: 24px;
  font-weight: bolder;


}

.img{
  height: 300px;
  width: 300px;
  background-color: #fff;
  border-radius: 10px 10px 0 0;

}
.item .description{
  height: 50px;
  width: 300px;
  box-sizing: border-box;
  position: absolute;
  background-color: #34189A;
  border-radius: 0 0 10px 10px;
  padding: 10px;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  transition: .5s;
  bottom: 0;

}

.item .description p.info-description {
    display: block;
    width: 300px;
    padding: 10px;
    font-size: 16px;
    text-align: center;
    font-weight: 100;
    word-wrap: wrap;
    word-break: break-all;
}

.item .description i{
  visibility: hidden;
}


img{
  /* height: 100%; */
  width: 300px;
  height: 300px;
  border-radius: 10px 10px 0px 0px;
  object-fit : cover;
}


.title{
  font-size: 16px;
  font-weight: 700;
}

.item .description .info-description{
  visibility: hidden;
  transition: .5s;
}

.item:hover{
  transition: .5s;
}

.item:hover .description {
  height: 300px;
  border-radius: 10px;
  max-width: 300px;


  transition: .5s;
}

.item:hover .description .info-description{
  visibility: visible;
  transition: .5s;
}


.item:hover .description i {
  margin-top: 20px;
  visibility: visible;
  margin-bottom: 20px;
}

.Prev{
  position: absolute;
  left: 33px;
  top: 50%;
  transform: translate(-50%, -50%);
}

.Next{
  position: absolute;
  right: 0%;
  top: 50%;
  transform: translate(-50%, -50%);

}


button{
  border: none;
  background: #716e6e;
  padding: 20px;
  border-radius: 10px;
  transition: 2 all ease-in-out;
}

button i{
  color: #fff;
  transition: 2 all ease-in-out;
}


/*
p.title{
  font-size: 16px;
  font-weight: 600;
}

p.info{
  font-size: 12px;
} */


.mobile{
  display: none;
}

@media (min-width:768px) {

  .mobile{
    display: none;
  }

  .n-mobile{
    display: block;
  }


  /* button{
    border: none;
    background: #716e6e;
    padding: 20px;
    border-radius: 10px;
    transition: 2 all ease-in-out;
  }

  button i{
    color: #fff;
    transition: 2 all ease-in-out;
  }
   */
  button:hover{
    background: #34189A;
    transition: 2 all ease-in-out;
  }

  button:hover i {
    color: #fff;
    transition: 2 all ease-in-out;
  }

}






@media (max-width:768px) {


  .n-mobile{
    display: none;
  }

  .mobile{
    display: block;
  }

  .item{
    margin: 20px 12px;
    width: 100% -40px;
  }

  .Next{
    right: -5%;
  }

}
