<div class="container">
  <div class="top">
    <span>Siniestro : {{siniestro.siniestro_id}}</span>
  </div>
  <div class="data">
    <div class="field row">
      <div class="column">
          <div class="title">
            <span>Persona</span>
          </div>
          <div class="description" *ngIf="beneficiario">
            <span class="info">{{beneficiario.primer_nombre}} </span>
            <span class="info" *ngIf="beneficiario.segundo_nombre!=='0'">{{beneficiario.segundo_nombre}} </span>
            <span class="info">{{beneficiario.primer_apellido}} </span>
            <span class="info" *ngIf="beneficiario.segundo_apellido!=='0'">{{beneficiario.segundo_apellido}} </span>
          </div>


      </div>
      <div class="column">
        <div class="title">
          <span>Lugar</span>
        </div>
        <div class="description">
          <span>{{siniestro.pais_ocurrencia}}</span>
        </div>
      </div>

    </div>
    <div class="field column">
        <div class="title">
          <span>Tipo de siniestro</span>
        </div>
        <div class="description">
          <span>{{tipoBeneficio?.etiqueta}}</span>
        </div>


    </div>

    <div class="item-description">

      <div class="title">
        <span>Descripcion del siniestro</span>
      </div>

      <div class="description">
        <p class="">   {{siniestro.descripcion | zeroToMessage | signals_string}}</p>
      </div>

    </div>

    <div class="item-description">

      <div class="title">
        <span>Archivo Adjunto</span>
      </div>
      <div class="description" >
        <span class="fit-span"   >{{siniestro.url_archivo | zeroToMessage | signals_string }}</span>
      </div>

    </div>

  </div>
</div>
