<div class="container">
  <div class="top">
    <span>Siniestro : {{siniestro.siniestro_id}}</span>
  </div>
  <div class="data">
    <div class="field row">
      <div class="column">
          <div class="title">
            <span>Persona</span>
          </div>
          <div class="description">
            <span>Walter Ronny</span>
          </div>


      </div>
      <div class="column">
        <div class="title">
          <span>Lugar</span>
        </div>
        <div class="description">
          <span>America</span>
        </div>
      </div>

    </div>
    <div class="field column">
        <div class="title">
          <span>Tipo de siniestro</span>
        </div>
        <div class="description">
          <span>Un grandioso siniestro</span>
        </div>


    </div>

    <div class="field column">

      <div class="title">
        <span>Descripcion del siniestro</span>
      </div>

      <div class="description">
        <p>Descripcion de siniestro un parrafo completo para ello</p>
      </div>

    </div>

    <div class="field column">

      <div class="title">
        <span>Archivo Adjunto</span>
      </div>
      <div class="description">
        <span>archivo.jpg</span>
      </div>

    </div>

  </div>
</div>
