
.datos-poliza{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 20px;
  color: var(--main-color);
}

.datos-poliza .data span{
 font-weight: bold;

}

.field {
 display: flex;
 flex-direction: column;
 align-items: flex-start;
 justify-content: space-between;
 padding: 10px;
 width: 100%;
}






span.title {
  margin-bottom: 5px;
}



h1{
  color: var(--main-color);
}


.row .field .data{
  font-weight: bold;

}


@media (max-width:768px) {
  .datos-poliza{
    flex-direction: column;
  }

}
