<div class="cotizacion">

  <div class="top" id="top"  appScrollVisibility>
    <div class="left">
      <h2>NUESTROS PLANES</h2>
      <div class="data-display">
        <div class="space-button">
          <button class="btn-card" (click)="openModal()">
            <span class="counter" [ngClass]="{'ready': selectedPlans=== minPlanes}"  >{{selectedPlans}}  </span>
            <svg xmlns="http://www.w3.org/2000/svg" height="40" viewBox="0 96 960 960" width="40"><path d="M284.525 975.333q-30.858 0-52.691-21.975Q210 931.384 210 900.525q0-30.858 21.975-52.691Q253.95 826 284.808 826q30.859 0 52.692 21.975t21.833 52.833q0 30.859-21.975 52.692-21.974 21.833-52.833 21.833Zm400 0q-30.858 0-52.691-21.975Q610 931.384 610 900.525q0-30.858 21.975-52.691Q653.95 826 684.808 826q30.859 0 52.692 21.975t21.833 52.833q0 30.859-21.975 52.692-21.974 21.833-52.833 21.833ZM238.666 322 344 540.667h285.334l120-218.667H238.666ZM206 255.333h589.382q22.976 0 34.964 20.834Q842.333 297 830.667 318L693.333 565.333q-11 19.333-28.872 30.667-17.873 11.333-39.128 11.333H324l-52 96.001h487.333V770H278q-43 0-63-31.833T214.667 670l60.667-111.333L126 242.666H47.334V176h121.333L206 255.333Zm138 285.334h285.334H344Z"/></svg>
            <span>VER CARRITO</span>
          </button>

        </div>



        <!-- <ng-template #modalTemplate>
         <div class="card">
            <span>hola </span>
         </div>
        </ng-template> -->






      </div>
      <div  *ngIf="minPlanes>1  && selectedPlans<2 &&  listadoMayor.length > 0"class="alert">
        <span>Debe elegir un plan para los menores de 75 años y un plan para los mayores de 75 años</span>
      </div>
      <div  *ngIf="selectedPlans<minPlanes && minPlanes<2 && listadoMenor.length > 0" class="alert">
        <span>Falta {{minPlanes-selectedPlans}} por elegir</span>
      </div>

    </div>
    <div class="right">
      <div class="tipo-plan">

        <div class="buttons-age" [class.sticky]="isSticky" >
          <div class="container-age">

            <button class="age" [class.active]="!isOld" *ngIf="cotizaciones.length>0" (click)="toggleListPlanBtn(false)">
              <span>Menores de 75</span>
            </button>
            <button class="age" [class.active]="isOld" *ngIf="cotizacionesMayores.length>0" (click)="toggleListPlanBtn(true)">
              <span>Mayores de 75</span>
            </button>
          </div>

          <div class="pagination-ctn">
            <!-- <pagination  [currentPage]="currentPage"[total]="20" [limit]="4" (changePage)="changePage($event)"  ></pagination> -->
          </div>


        </div>
        <hr [class.sticky]="isSticky" >
      </div>
      <div class="listado-plan">
        <ng-container  *ngIf="!isOld && listadoMenor.length > 0">
          <ng-container *ngFor="let plan of listadoMenor">
            <plan  [isSticky]="isSticky" [plan]="plan"  (servicio)="toggleListPlan($event)" (showServicio)="showPlan($event)" ></plan>
          </ng-container>

        </ng-container>
        <ng-container  *ngIf="isOld && listadoMayor.length > 0">
          <ng-container *ngFor="let plan of listadoMayor">
            <plan  [isSticky]="isSticky" [plan]="plan"  (servicio)="toggleListPlan($event)" (showServicio)="showPlan($event)"></plan>
          </ng-container>
        </ng-container>

        <ng-container *ngIf="!isOld && listadoMenor.length === 0">
          <div class="alert">
            <span>No hay planes disponibles para la cantidad de dias y los pasajeros menores de 75</span>
          </div>
        </ng-container>

        <ng-container *ngIf="isOld && listadoMayor.length === 0 ">
          <div class="alert">
            <span>No hay planes disponibles para la cantidad de dias y los pasajeros mayores de 75</span>
          </div>
        </ng-container>




      </div>



    </div>

  </div>
  <hr [class.mt-30]="isSticky"  *ngIf="(isOld && listadoMayor.length>0) || (!isOld && listadoMenor.length>0)">
  <div class="data"  *ngIf="(isOld && listadoMayor.length>0) || (!isOld && listadoMenor.length>0)" >
    <div class="left">
      <div class="item">
        <span>COBERTURA GLOBAL</span>
        <hr>
      </div>
      <div class="cat">
        <div class="title">
          <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24"><path d="m320-60-80-60v-160h-40q-33 0-56.5-23.5T120-360v-300q-17 0-28.5-11.5T80-700q0-17 11.5-28.5T120-740h120v-60h-20q-17 0-28.5-11.5T180-840q0-17 11.5-28.5T220-880h120q17 0 28.5 11.5T380-840q0 17-11.5 28.5T340-800h-20v60h120q17 0 28.5 11.5T480-700q0 17-11.5 28.5T440-660v300q0 33-23.5 56.5T360-280h-40v220ZM200-360h160v-60h-70q-12 0-21-9t-9-21q0-12 9-21t21-9h70v-60h-70q-12 0-21-9t-9-21q0-12 9-21t21-9h70v-60H200v300ZM600-80q-33 0-56.5-23.5T520-160v-260q0-29 10-48t21-33q11-14 20-22.5t9-16.5v-20q-17 0-28.5-11.5T540-600q0-17 11.5-28.5T580-640h200q17 0 28.5 11.5T820-600q0 17-11.5 28.5T780-560v20q0 8 10 18t22 24q11 14 19.5 33t8.5 45v260q0 33-23.5 56.5T760-80H600Zm0-320h160v-20q0-15-9-26t-20-24q-11-13-21-29t-10-41v-20h-40v20q0 24-9.5 40T630-471q-11 13-20.5 24.5T600-420v20Zm0 120h160v-60H600v60Zm0 120h160v-60H600v60Zm0-120h160-160Z"/></svg>
          <span>BENEFICIOS MEDICOS</span>
        </div>
        <div class="item">
          <span>Telemedicina y atencion medica 24/7</span>
          <hr>
        </div>
        <div class="item">
          <span>Asistencia medica por enfermedad y/o accidente</span>
          <hr>
        </div>
        <div class="item">
          <span>Covid y sus variantes</span>
          <hr>
        </div>
        <div class="item">
          <span>Medicamentos por atencion ambulatoria</span>
          <hr>
        </div>
        <div class="item">
          <span>Medicamentos por hospitalizacion</span>
          <hr>
        </div>
        <div class="item">
          <span>Atencion medica por embarazo (semana 22)</span>
          <hr>
        </div>
        <div class="item">
          <span>Odontologia por urgencia</span>
          <hr>
        </div>
        <div class="item">
          <span>Atencion por enfermedades Pre-existentes(primera Atencion)</span>
          <hr>
        </div>
      </div>

      <div class="cat">
        <div class="title">
          <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24"><path d="M240-200q-50 0-85-35t-35-85H40v-360q0-33 23.5-56.5T120-760h560l240 240v200h-80q0 50-35 85t-85 35q-50 0-85-35t-35-85H360q0 50-35 85t-85 35Zm360-360h160L640-680h-40v120Zm-240 0h160v-120H360v120Zm-240 0h160v-120H120v120Zm120 290q21 0 35.5-14.5T290-320q0-21-14.5-35.5T240-370q-21 0-35.5 14.5T190-320q0 21 14.5 35.5T240-270Zm480 0q21 0 35.5-14.5T770-320q0-21-14.5-35.5T720-370q-21 0-35.5 14.5T670-320q0 21 14.5 35.5T720-270ZM120-400h32q17-18 39-29t49-11q27 0 49 11t39 29h304q17-18 39-29t49-11q27 0 49 11t39 29h32v-80H120v80Zm720-80H120h720Z"/></svg>
          <span>REPATRIACION Y TRASLADO SANITARIO</span>
        </div>
        <div class="item">
          <span>Repatriación Funeraria/Traslado sanitario</span>
          <hr>
        </div>
        <div class="item">
          <span>Traslado de familiar por hospitalización</span>
          <hr>
        </div>
        <div class="item">
          <span>Acompañamiento de menores</span>
          <hr>
        </div>
        <div class="item">
          <span>Hotel por convalecencia</span>
          <hr>

        </div>
      </div>

      <div class="cat">
        <div class="title">
          <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24"><path d="m319-280 161-73 161 73 15-15-176-425-176 425 15 15ZM480-80q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Zm0-80q134 0 227-93t93-227q0-134-93-227t-227-93q-134 0-227 93t-93 227q0 134 93 227t227 93Zm0-320Z"/></svg>
          <span>ASISTENCIA EN VIAJE</span>
        </div>
        <div class="item">
          <span>Asistencia en caso de perdida de pasaporte</span>
          <hr>
        </div>
        <div class="item">
          <span>Compensacion por perdida de vuelo mayor a 6 horas (hasta)</span>
          <hr>
        </div>
        <div class="item">
          <span>Compensacion por retraso de equipaje</span>
          <hr>
        </div>
        <div class="item">
          <span>Perdida de equipaje</span>
          <hr>
        </div>
        <div class="item">
          <span>Cancelacion de viaje</span>
          <hr>
        </div>
        <div class="item">
          <span>Penalidad por regreso anticipado por siniestro en domicilio</span>
          <hr>
        </div>
        <div class="item">
          <span>Perdida por regreso anticipado por fallecimiento de un familiar</span>
          <hr>
        </div>
        <div class="item">
          <span>Mascotas</span>
          <hr>
        </div>
      </div>

      <div class="cat">
        <div class="title">
          <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24"><path d="M160-120v-80h480v80H160Zm226-194L160-540l84-86 228 226-86 86Zm254-254L414-796l86-84 226 226-86 86Zm184 408L302-682l56-56 522 522-56 56Z"/></svg>
          <span>AUXILIO Y ASISTENCIA LEGAL</span>
        </div>
        <div class="item">
          <span>Transferencia de fondos</span>
          <hr>
        </div>
        <div class="item">
          <span>Transferencia de fondos para fianza legal</span>
          <hr>
        </div>
        <div class="item">
          <span>Transferencia legal por accidente de transito</span>
          <hr>
        </div>
      </div>

    </div>
    <div class="right">
      <div class="listado-plan">
        <ng-container  *ngIf="!isOld">
          <ng-container *ngFor="let plan of listadoMenor">
            <category-plan [plan]="plan"   ></category-plan>
          </ng-container>

        </ng-container>
        <ng-container  *ngIf="isOld">
          <ng-container *ngFor="let plan of listadoMayor">
            <category-plan [plan]="plan"   ></category-plan>
          </ng-container>
        </ng-container>

      </div>


    </div>



  </div>

</div>



<button class="btn-card  mobile" (click)="openModal()">
  <i class="fa-solid fa-cart-shopping fa-2xl" style="color: white; padding: 20px;"></i>

</button>

<!-- Modal -->
<shopping-cart  [messageReady]="selectedPlans=== minPlanes" *ngIf="showCart" (closeEvent)="closeCart()"  (submitEvent)="siguiente()" [cotizacionesMayores]="cotizacionesMayores.length" [cotizacionesMenores]="cotizaciones.length" [dias]="diffDays" [planMayores]="servicioMayores" [planMenores]="servicioMenores" >

</shopping-cart>


  <info *ngIf="detailsPlan && planMostrar"  [plan]="planMostrar" (closeEvent)="closePlan()" ></info>



<loading *ngIf="!loading"></loading>
